# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

# Section 1:Business Understaning

The starbucks data give a situation about Sale Promotion with cupon. It give the customers a discount of BOGO(buy one get one free), which will prompt the sale if the customer use it. Customer get discount, starbuck get sale promotion and build customer potential consumption pattern.

For accuracy we should find out how to use the cupon:
1. Is it benifit for starbucks
2. if it worthy enough, who should we give the cupon.

# Section 2:Data Understaning

1. Reading in data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import json
import re
%matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

2. we will take a look at the data first.

portfolio seems no need for cleaning.

2. Data Cleaning

In [2]:
#profile['income_na'] = profile['income'].isna()
#profile['income'].fillna(0, inplace = True)

In [3]:
print(profile.shape)
profile.head(10)

(17000, 5)

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN
5      M   68  e2127556f4f64592b11af22de27a7932          20180426   70000.0
6   None  118  8ec6ce2a7e7949b1bf142def7d0e0586          20170925       NaN
7   None  118  68617ca6246f4fbc85e91a2a49552598          20171002       NaN
8      M   65  389bc3fa690240e798340f5a15918d5c          20180209   53000.0
9   None  118  8974fc5686fe429db53ddde067b88302          20161122       NaN

In [132]:
user_id_map = pd.DataFrame(
        {'person':profile['id'],
         'person_id': range(len(profile['id']))
        })
user_id_map.head()
profile_new = profile.merge(user_id_map,how = 'left', left_on = 'id', right_on = 'person')
profile_new.drop(['id', 'person'], axis = 1, inplace = True)
profile_new.loc[profile_new['age'] >= 100 , 'age'] = np.nan
profile_new.loc[profile_new['gender'] == 'M' , 'gender'] = 1.0
profile_new.loc[profile_new['gender'] == 'F' , 'gender'] = 0.0
profile_new.loc[profile_new['gender'] == 'O' , 'gender'] = 0.5
profile_new['gender'].fillna(np.nan, inplace = True)
profile_new['gender'].astype(float)
profile_new.head(10)

   gender   age  became_member_on    income  person_id
0     NaN   NaN          20170212       NaN          0
1     0.0  55.0          20170715  112000.0          1
2     NaN   NaN          20180712       NaN          2
3     0.0  75.0          20170509  100000.0          3
4     NaN   NaN          20170804       NaN          4
5     1.0  68.0          20180426   70000.0          5
6     NaN   NaN          20170925       NaN          6
7     NaN   NaN          20171002       NaN          7
8     1.0  65.0          20180209   53000.0          8
9     NaN   NaN          20161122       NaN          9

In [135]:
profile_new['gender'].unique()

array([nan, 0. , 1. , 0.5])

there are a lot of customers at age 118.Those are the people who do not want to give the age informations. We will consider that as a NaN.

In [136]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               17000 non-null  int64
 2   id                17000 non-null  object
 3   became_member_on  17000 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 664.2+ KB

In [137]:
portfolio_id = portfolio['id'].unique()
offer_id = np.arange(len(portfolio_id))
offer_id_map = pd.DataFrame(
    {'portfolio_id': portfolio_id,
     'offer_id': offer_id
    })

In [138]:
offer_id_map['offer_id'].dtype

dtype('int64')

In [139]:
def clean_portfolio(portfolio = portfolio, offer_id_map = offer_id_map):
    """
    clean the portfolio data, change "ID" into "offer_id" according to offer_id_map
    split channels into columns
    
    
    """
    port_clean = portfolio.copy()
    channel_list = []
    for channel in portfolio['channels']:
        channel_list.extend(channel)
    channel_set = set(channel_list)
    
    # convert channels into dummies
    for channel in channel_set:
        port_clean['channel_' + channel] = port_clean['channels'].apply(lambda x: x.count(channel)>0)
        
    # change id according to offer_id_map
    
    port_clean['offer_id'] = port_clean['id'].apply(lambda x:
                            int(offer_id_map[offer_id_map['portfolio_id'] == x]['offer_id'].values))
        
    
    port_clean.drop(['channels','id'], axis = 1, inplace = True)
    return port_clean

clean_portfolio()

,reward,difficulty,duration,offer_type,channel_social,channel_web,channel_mobile,channel_email,offer_id
0,10,10,7,bogo,True,False,True,True,0
1,10,10,5,bogo,True,True,True,True,1
2,0,0,4,informational,False,True,True,True,2
3,5,5,7,bogo,False,True,True,True,3
4,5,20,10,discount,False,True,False,True,4
5,3,7,7,discount,True,True,True,True,5
6,2,10,10,discount,True,True,True,True,6
7,0,0,3,informational,True,False,True,True,7
8,5,5,5,bogo,True,True,True,True,8
9,2,10,7,discount,False,True,True,True,9

In [140]:
(transcript['person'].shape)

(306534,)

In [141]:
transcript['person'].nunique()

17000

In [142]:
transcript[transcript['person'] == '78afa995795e4d85b5d9ceeca43f5fef']

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
15561,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6
47582,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.89},132
47583,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,132
49502,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 17.78},144
53176,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},168
85291,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},216
87134,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.67},222
92104,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 29.72},240
141566,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 23.93},378
150598,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},408
163375,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},408
201572,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},504
218393,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 21.72},510
218394,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,510
218395,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...,510
230412,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 26.56},534
262138,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},582

In [143]:
portfolio_clean = clean_portfolio()

In [144]:
def clean_transcript(transcript = transcript, portfolio = clean_portfolio, offer_id_map = offer_id_map, user_id_map = user_id_map):
    """
    clean the transcript data, use person_id, offer_id instead of hash number.
    
    Parameters
    ------------
    
    
    Returns
    ------------
    
    
    """
    
    # simplify person to person_id
    transcript_clean = transcript.copy()    

    transcript_clean = transcript_clean.merge(user_id_map, on = 'person')    
    print(transcript_clean.event.unique())
    # 
    
    transcript_clean['portfolio_id'] = transcript_clean['value'].apply(
        lambda x : x.get('offer_id', np.nan) if (x.get('offer id', np.nan) is np.nan) else x.get('offer id', np.nan)
    )


    transcript_clean['amount'] = transcript_clean['value'].apply(lambda x :x.get('amount', np.nan))

    transcript_clean['reward'] = transcript_clean['value'].apply(lambda x :x.get('reward', np.nan))
    transcript_clean = transcript_clean.merge(offer_id_map,how = 'left', on = 'portfolio_id')
    transcript_clean['offer_id'] = transcript_clean['offer_id'].astype('Int64')
    transcript_clean.drop(['person','value', 'portfolio_id'], axis = 1, inplace = True)

    return transcript_clean

clean_trans = clean_transcript()
clean_trans.head()

['offer received' 'offer viewed' 'transaction' 'offer completed']

             event  time  person_id  amount  reward  offer_id
0   offer received     0          3     NaN     NaN         3
1     offer viewed     6          3     NaN     NaN         3
2      transaction   132          3   19.89     NaN      <NA>
3  offer completed   132          3     NaN     5.0         3
4      transaction   144          3   17.78     NaN      <NA>

In [158]:
def create_offer_received_completed_matrix(data, profile = profile_new ):
    event_offer_cp = data['event'] == 'offer completed'
    event_offer_re = data['event'] == 'offer received'
    event_offer_vi = data['event'] == 'offer viewed' 
    event_offer_ta = data['event'] == 'offer transaction' 
    
    trans_offer_tag = data[data['event'].isin(['offer completed', 'transaction'])]
    time_duplicated = trans_offer_tag.duplicated(['time', 'person_id'], keep = False)
    
    # all transaction 

    # trans with out offer
    trans_without_offer_df = trans_offer_tag[~ time_duplicated]
    # trans with offer 
    trans_with_offer_df = trans_offer_tag[time_duplicated]

    
    
    # count completed offer
    offer_completed_count = data[event_offer_cp].groupby(['person_id', 'offer_id'])['person_id'].count().unstack(1)

    # offer_completed_count = offer_completed_count.add_suffix('_completed')
    # count received offer
    offer_received_count = data[event_offer_re].groupby(['person_id', 'offer_id'])['person_id'].count().unstack(1)


    #offer_received_count = offer_received_count.add_suffix('_received')    

    #    offer_received_count = data[event_offer_re].groupby(['person_id', 'offer_id'])['person_id'].count().unstack(1)
    # offer_received_count = offer_received_count.add_suffix('_received')    
    reward_ = data[event_offer_cp].groupby(['person_id','time'])['reward'].sum()
    reward_nozero = reward_[reward_!=0]
    mean_reward = reward_nozero.groupby(level = [0]).mean()

    # feature_matrix = offer_completed_count.merge(offer_received_count, on = 'person_id')
    row = offer_received_count.index
    column = offer_received_count.columns
    
    feature_matrix = pd.DataFrame(np.nan, index = row, columns = column)
    for i in row:
        for j in column:
            try:
                if pd.isna(offer_received_count.loc[i,j]):
                    feature_matrix.loc[i,j] = np.nan
                elif pd.isna(offer_completed_count.loc[i,j]):
                    feature_matrix.loc[i,j] = 0
                else:
                    feature_matrix.loc[i,j] = offer_completed_count.loc[i,j] / offer_received_count.loc[i,j]
            except:
                feature_matrix.loc[i,j] = 0
                continue
    # feature_matrix = offer_completed_count / offer_received_count
    

    
    # get mean amount without offer
    trans_mean_without_offer = trans_without_offer_df.groupby(['person_id'])['amount'].mean()
    trans_mean_without_offer.rename('mean_trans_without_offer', inplace = True)
    # trans_count_without_offer = trans_without_offer_df.groupby(['person_id'])['amount'].count()
    # trans_count_without_offer.rename('count_trans_without_offer')
    # get mean amount with offer
    trans_mean_with_offer = trans_with_offer_df.groupby(['person_id'])['amount'].mean()
    
    trans_mean_with_offer.rename("mean_trans_with_offer", inplace = True)
#    trans_count_with_offer = trans_with_offer_df.groupby(['person_id'])['amount'].count()
#    trans_count_with_offer.rename('count_trans_with_offer')    
    feature_matrix = feature_matrix.merge(trans_mean_without_offer, how = 'left', on = 'person_id')
    feature_matrix = feature_matrix.merge(trans_mean_with_offer,how = 'left', on = 'person_id')
    feature_matrix = feature_matrix.merge(mean_reward,how = 'left', on = 'person_id')
    feature_matrix = feature_matrix.merge(profile_new,how = 'left', on = 'person_id')
    feature_matrix.drop(['became_member_on', 'person_id'],axis = 1, inplace = True)
    feature_matrix['reward'] = feature_matrix['reward']/10
    feature_matrix['income'] = feature_matrix['income']/100000
    feature_matrix['age'] = feature_matrix['age']/100
    feature_matrix['mean_trans_without_offer'] = feature_matrix['mean_trans_without_offer']/10
    feature_matrix['mean_trans_with_offer'] = feature_matrix['mean_trans_with_offer']/10
    return feature_matrix
#trans_feature = create_matrix(clean_trans)
trans_df = create_offer_received_completed_matrix(clean_trans)

trans_df.head()

,0,1,2,3,4,5,6,7,8,9,mean_trans_without_offer,mean_trans_with_offer,reward,gender,age,income
0,NaN,NaN,NaN,NaN,0.0,1.0,0.5,NaN,NaN,0.0,0.228500,0.2120,0.5,NaN,NaN,NaN
1,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.689500,2.3220,0.5,0.0,0.55,1.12
2,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.238333,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,1.0,NaN,NaN,NaN,0.0,1.0,NaN,2.353200,2.0805,1.0,0.0,0.75,1.00
4,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.155000,NaN,NaN,NaN,NaN,NaN

In [159]:
trans_df.describe()

,0,1,2,3,4,5,6,7,8,9,mean_trans_without_offer,mean_trans_with_offer,reward,gender,age,income
count,6374.000000,6330.000000,6331.0,6355.000000,6374.000000,6325.000000,6332.000000,6320.0,6262.000000,6285.000000,16150.000000,12774.000000,12774.000000,14820.000000,14803.000000,14820.000000
mean,0.480454,0.436862,0.0,0.568725,0.447396,0.676864,0.698347,0.0,0.568958,0.527513,1.272283,1.898487,0.531398,0.579555,0.543364,0.654069
std,0.490657,0.486484,0.0,0.481846,0.487389,0.456098,0.449856,0.0,0.480934,0.486079,1.711185,2.700130,0.259452,0.490011,0.173234,0.215981
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.005000,0.023000,0.200000,0.000000,0.180000,0.300000
25%,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.278500,0.940250,0.350000,0.000000,0.420000,0.490000
50%,0.000000,0.000000,0.0,1.000000,0.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.018550,1.623000,0.500000,1.000000,0.550000,0.640000
75%,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.932917,2.272000,0.666667,1.000000,0.660000,0.800000
max,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,55.066500,101.573000,2.500000,1.000000,0.990000,1.200000

In [160]:
trans_df.columns

Index([                         0,                          1,
                                2,                          3,
                                4,                          5,
                                6,                          7,
                                8,                          9,
       'mean_trans_without_offer',    'mean_trans_with_offer',
                         'reward',                   'gender',
                            'age',                   'income'],
      dtype='object')

In [161]:
trans_mat_df = trans_df.drop([2,7],axis = 1)
trans_mat = trans_mat_df.to_numpy()
trans_mat.shape

(16994, 14)

In [149]:
def FunkSVD(trans_mat , latent_features=14, learning_rate=0.0001, iters=100):
    '''
    This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, movies as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    movie_mat - (numpy array) a latent feature by movie matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = trans_mat.shape[0] # number of rows in the matrix
    n_feature = trans_mat.shape[1] # number of movies in the matrix
    num_ratings = n_feature*n_users - np.isnan(trans_mat).sum() # total number of ratings in the matrix
    
    # initialize the user and movie matrices with random values
    # helpful link: https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.rand.html
    user_mat = np.random.rand(n_users, latent_features) # user matrix filled with random values of shape user x latent 
    feature_mat = np.random.rand(latent_features, n_feature) # movie matrix filled with random values of shape latent x movies

    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # header for running results
    print("Optimization Statistics")
    print("Iterations | Mean Squared Error ")
    
    # for each iteration
    for i in range(iters):
        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-movie pair
        for row in range(n_users):
            for column in range(n_feature):
                # if the rating exists
                if np.isnan(trans_mat[row,column]) ==False :
                    # compute the error as the actual minus the dot product of the user and movie latent features
                    error_mat = trans_mat[row,column] - np.dot(user_mat[row,:],feature_mat[:,column])
                    # Keep track of the total sum of squared errors for the matrix
                    sse_accum += error_mat**2
                    # update the values in each matrix in the direction of the gradient
                    user_mat[row,:] +=  learning_rate*2*error_mat*feature_mat[:,column]
                    feature_mat[:,column] += + learning_rate*2*error_mat*user_mat[row,:]
                    # print results for iteration
        print('SSE for {} iter: {}'.format(i+1, sse_accum))
    return user_mat, feature_mat

Funk SVD

In [51]:
user_mat, feature_mat = FunkSVD(trans_mat, learning_rate = 0.01)

Optimization Statistics
Iterations | Mean Squared Error
SSE for 1 iter: 17978.68063477033
SSE for 2 iter: 16254.572706643057
SSE for 3 iter: 16117.397267414057
SSE for 4 iter: 15980.191937159685
SSE for 5 iter: 15842.584365544535
SSE for 6 iter: 15704.135346828656
SSE for 7 iter: 15564.330352052946
SSE for 8 iter: 15422.570363923338
SSE for 9 iter: 15278.163315918435
SSE for 10 iter: 15130.317075721689
SSE for 11 iter: 14978.135284359661
SSE for 12 iter: 14820.617790955199
SSE for 13 iter: 14656.667871153652
SSE for 14 iter: 14485.108811167096
SSE for 15 iter: 14304.712657657952
SSE for 16 iter: 14114.243803231291
SSE for 17 iter: 13912.519384664118
SSE for 18 iter: 13698.487002045362
SSE for 19 iter: 13471.317882968428
SSE for 20 iter: 13230.510363629257
SSE for 21 iter: 12975.994788196607
SSE for 22 iter: 12708.227362080253
SSE for 23 iter: 12428.258175749406
SSE for 24 iter: 12137.758671203152
SSE for 25 iter: 11838.997065044547
SSE for 26 iter: 11534.756723126426
SSE for 27 iter: 11228.201222839507
SSE for 28 iter: 10922.698933859312
SSE for 29 iter: 10621.627100310301
SSE for 30 iter: 10328.178724518744
SSE for 31 iter: 10045.19424197081
SSE for 32 iter: 9775.034607895263
SSE for 33 iter: 9519.504631876891
SSE for 34 iter: 9279.827253138994
SSE for 35 iter: 9056.662708042224
SSE for 36 iter: 8850.162223868803
SSE for 37 iter: 8660.044172785234
SSE for 38 iter: 8485.681102418606
SSE for 39 iter: 8326.187978714603
SSE for 40 iter: 8180.504561400198
SSE for 41 iter: 8047.4674657172
SSE for 42 iter: 7925.8697512758035
SSE for 43 iter: 7814.5076338986655
SSE for 44 iter: 7712.215109320259
SSE for 45 iter: 7617.887973755513
SSE for 46 iter: 7530.499034094178
SSE for 47 iter: 7449.106335628462
SSE for 48 iter: 7372.85610026646
SSE for 49 iter: 7300.981843479418
SSE for 50 iter: 7232.800880796005
SSE for 51 iter: 7167.7091810893735
SSE for 52 iter: 7105.175294925237
SSE for 53 iter: 7044.733891333812
SSE for 54 iter: 6985.979277682329
SSE for 55 iter: 6928.559152805274
SSE for 56 iter: 6872.168748945474
SSE for 57 iter: 6816.545448395168
SSE for 58 iter: 6761.463911079756
SSE for 59 iter: 6706.7317152494725
SSE for 60 iter: 6652.185491151366
SSE for 61 iter: 6597.68751397086
SSE for 62 iter: 6543.122714988512
SSE for 63 iter: 6488.3960669405105
SSE for 64 iter: 6433.430299545193
SSE for 65 iter: 6378.163903037472
SSE for 66 iter: 6322.549380572437
SSE for 67 iter: 6266.551713984631
SSE for 68 iter: 6210.14701126042
SSE for 69 iter: 6153.321307954052
SSE for 70 iter: 6096.069498495436
SSE for 71 iter: 6038.394376822562
SSE for 72 iter: 5980.305768954053
SSE for 73 iter: 5921.819742992739
SSE for 74 iter: 5862.957884614165
SSE for 75 iter: 5803.746628333318
SSE for 76 iter: 5744.216636805274
SSE for 77 iter: 5684.402222076464
SSE for 78 iter: 5624.340804122286
SSE for 79 iter: 5564.0724031730715
SSE for 80 iter: 5503.639163276067
SSE for 81 iter: 5443.084905297295
SSE for 82 iter: 5382.4547081346545
SSE for 83 iter: 5321.794517330412
SSE for 84 iter: 5261.1507805569645
SSE for 85 iter: 5200.570109614495
SSE for 86 iter: 5140.098968661755
SSE for 87 iter: 5079.783388404652
SSE for 88 iter: 5019.668705913872
SSE for 89 iter: 4959.799329662343
SSE for 90 iter: 4900.218529253793
SSE for 91 iter: 4840.968249193695
SSE for 92 iter: 4782.088945925054
SSE for 93 iter: 4723.619447232356
SSE for 94 iter: 4665.596833007867
SSE for 95 iter: 4608.05633628073
SSE for 96 iter: 4551.031263335311
SSE for 97 iter: 4494.552931691927
SSE for 98 iter: 4438.650624684323
SSE for 99 iter: 4383.351561357074
SSE for 100 iter: 4328.680880403814

In [58]:
user_mat2, feature_mat2 = FunkSVD(trans_mat, learning_rate = 0.015, iters = 250)

Optimization Statistics
Iterations | Mean Squared Error
SSE for 1 iter: 18112.108319247873
SSE for 2 iter: 16594.0835632044
SSE for 3 iter: 16369.43071406232
SSE for 4 iter: 16141.91057880068
SSE for 5 iter: 15909.500038136552
SSE for 6 iter: 15669.723927582387
SSE for 7 iter: 15419.629906730617
SSE for 8 iter: 15155.814950307311
SSE for 9 iter: 14874.535890381698
SSE for 10 iter: 14571.939031754873
SSE for 11 iter: 14244.435416431785
SSE for 12 iter: 13889.222467538388
SSE for 13 iter: 13504.9075494224
SSE for 14 iter: 13092.132576472135
SSE for 15 iter: 12654.051656393329
SSE for 16 iter: 12196.502201794638
SSE for 17 iter: 11727.751612744685
SSE for 18 iter: 11257.793016384878
SSE for 19 iter: 10797.280607458693
SSE for 20 iter: 10356.303262280237
SSE for 21 iter: 9943.256507238793
SSE for 22 iter: 9564.055078621459
SSE for 23 iter: 9221.825415502408
SSE for 24 iter: 8917.06917655496
SSE for 25 iter: 8648.163626083631
SSE for 26 iter: 8412.012722569976
SSE for 27 iter: 8204.685667504702
SSE for 28 iter: 8021.942621242137
SSE for 29 iter: 7859.611476545497
SSE for 30 iter: 7713.823617937408
SSE for 31 iter: 7581.137532959024
SSE for 32 iter: 7458.583511541516
SSE for 33 iter: 7343.658411218188
SSE for 34 iter: 7234.292281882906
SSE for 35 iter: 7128.80160115784
SSE for 36 iter: 7025.838229256091
SSE for 37 iter: 6924.339254766513
SSE for 38 iter: 6823.480523047601
SSE for 39 iter: 6722.635429936252
SSE for 40 iter: 6621.340004994391
SSE for 41 iter: 6519.2648885870585
SSE for 42 iter: 6416.1942056779235
SSE for 43 iter: 6312.010541873086
SSE for 44 iter: 6206.684466818242
SSE for 45 iter: 6100.266609688741
SSE for 46 iter: 5992.880317793739
SSE for 47 iter: 5884.713375081323
SSE for 48 iter: 5776.007946984466
SSE for 49 iter: 5667.048647511797
SSE for 50 iter: 5558.149228822379
SSE for 51 iter: 5449.638773470302
SSE for 52 iter: 5341.848395018275
SSE for 53 iter: 5235.09935456029
SSE for 54 iter: 5129.693251383056
SSE for 55 iter: 5025.904633043871
SSE for 56 iter: 4923.9760706199695
SSE for 57 iter: 4824.115509415152
SSE for 58 iter: 4726.495554816075
SSE for 59 iter: 4631.254284187695
SSE for 60 iter: 4538.497171431245
SSE for 61 iter: 4448.299749054756
SSE for 62 iter: 4360.710692781525
SSE for 63 iter: 4275.755080163844
SSE for 64 iter: 4193.437637322335
SSE for 65 iter: 4113.745841680956
SSE for 66 iter: 4036.652791967483
SSE for 67 iter: 3962.119790548811
SSE for 68 iter: 3890.0986092041735
SSE for 69 iter: 3820.5334297061468
SSE for 70 iter: 3753.3624667596278
SSE for 71 iter: 3688.51929402258
SSE for 72 iter: 3625.933904526681
SSE for 73 iter: 3565.5335447825455
SSE for 74 iter: 3507.2433668115987
SSE for 75 iter: 3450.986943922854
SSE for 76 iter: 3396.6866940701734
SSE for 77 iter: 3344.2642493162257
SSE for 78 iter: 3293.6408019511086
SSE for 79 iter: 3244.7374482158966
SSE for 80 iter: 3197.4755405999817
SSE for 81 iter: 3151.777050546473
SSE for 82 iter: 3107.5649360855614
SSE for 83 iter: 3064.7635040410523
SSE for 84 iter: 3023.2987541703014
SSE for 85 iter: 2983.098692678257
SSE for 86 iter: 2944.093604475667
SSE for 87 iter: 2906.2162766698802
SSE for 88 iter: 2869.4021694109297
SSE for 89 iter: 2833.589533802764
SSE for 90 iter: 2798.7194796968474
SSE for 91 iter: 2764.735998565942
SSE for 92 iter: 2731.585948212399
SSE for 93 iter: 2699.219006817108
SSE for 94 iter: 2667.5876039015493
SSE for 95 iter: 2636.646835321835
SSE for 96 iter: 2606.354368609319
SSE for 97 iter: 2576.670344015352
SSE for 98 iter: 2547.557275639735
SSE for 99 iter: 2518.9799561516575
SSE for 100 iter: 2490.9053679087633
SSE for 101 iter: 2463.3026027645124
SSE for 102 iter: 2436.1427925020294
SSE for 103 iter: 2409.399051575351
SSE for 104 iter: 2383.046433576638
SSE for 105 iter: 2357.061902479204
SSE for 106 iter: 2331.4243191201913
SSE for 107 iter: 2306.1144425035723
SSE for 108 iter: 2281.114944300716
SSE for 109 iter: 2256.41043342723
SSE for 110 iter: 2231.9874859007023
SSE for 111 iter: 2207.8346735272994
SSE for 112 iter: 2183.942583581317
SSE for 113 iter: 2160.303820822576
SSE for 114 iter: 2136.9129832080444
SSE for 115 iter: 2113.766603691504
SSE for 116 iter: 2090.8630526137486
SSE for 117 iter: 2068.2023982358637
SSE for 118 iter: 2045.7862266350364
SSE for 119 iter: 2023.6174259923628
SSE for 120 iter: 2001.6999437095656
SSE for 121 iter: 1980.0385272958683
SSE for 122 iter: 1958.638461222826
SSE for 123 iter: 1937.5053118329226
SSE for 124 iter: 1916.644691043475
SSE for 125 iter: 1896.06204733119
SSE for 126 iter: 1875.762489748669
SSE for 127 iter: 1855.7506479305914
SSE for 128 iter: 1836.0305685286094
SSE for 129 iter: 1816.6056464594915
SSE for 130 iter: 1797.4785878237615
SSE for 131 iter: 1778.6514003183963
SSE for 132 iter: 1760.1254063370916
SSE for 133 iter: 1741.901273646436
SSE for 134 iter: 1723.9790584734997
SSE for 135 iter: 1706.358256008566
SSE for 136 iter: 1689.0378536993726
SSE for 137 iter: 1672.0163832874928
SSE for 138 iter: 1655.2919682965137
SSE for 139 iter: 1638.862364598264
SSE for 140 iter: 1622.724992694199
SSE for 141 iter: 1606.8769613838801
SSE for 142 iter: 1591.315083445354
SSE for 143 iter: 1576.0358847341165
SSE for 144 iter: 1561.0356086295658
SSE for 145 iter: 1546.3102179601203
SSE for 146 iter: 1531.8553964081782
SSE for 147 iter: 1517.6665509577085
SSE for 148 iter: 1503.7388162768245
SSE for 149 iter: 1490.0670611367877
SSE for 150 iter: 1476.6458961954424
SSE for 151 iter: 1463.4696818557397
SSE for 152 iter: 1450.5325345759652
SSE for 153 iter: 1437.8283300260307
SSE for 154 iter: 1425.350701874245
SSE for 155 iter: 1413.093035674828
SSE for 156 iter: 1401.0484581772064
SSE for 157 iter: 1389.2098232139292
SSE for 158 iter: 1377.569695988426
SSE for 159 iter: 1366.1203379905826
SSE for 160 iter: 1354.8536949568713
SSE for 161 iter: 1343.7613904161535
SSE for 162 iter: 1332.8347276273994
SSE for 163 iter: 1322.0647032671675
SSE for 164 iter: 1311.4420370138532
SSE for 165 iter: 1300.9572219039421
SSE for 166 iter: 1290.6006004779517
SSE for 167 iter: 1280.3624707007857
SSE for 168 iter: 1270.2332229919512
SSE for 169 iter: 1260.20350539669
SSE for 170 iter: 1250.2644084668714
SSE for 171 iter: 1240.4076558727631
SSE for 172 iter: 1230.625782578283
SSE for 173 iter: 1220.9122810337706
SSE for 174 iter: 1211.261698199865
SSE for 175 iter: 1201.669672283753
SSE for 176 iter: 1192.1329066929027
SSE for 177 iter: 1182.6490879293542
SSE for 178 iter: 1173.2167618661347
SSE for 179 iter: 1163.835187542286
SSE for 180 iter: 1154.5041887564114
SSE for 181 iter: 1145.2240216816363
SSE for 182 iter: 1135.995272322793
SSE for 183 iter: 1126.8187918189758
SSE for 184 iter: 1117.6956711746216
SSE for 185 iter: 1108.6272507372692
SSE for 186 iter: 1099.6151543944347
SSE for 187 iter: 1090.6613348380952
SSE for 188 iter: 1081.768114963856
SSE for 189 iter: 1072.9382117839564
SSE for 190 iter: 1064.1747328317
SSE for 191 iter: 1055.4811401110273
SSE for 192 iter: 1046.8611821002278
SSE for 193 iter: 1038.3187990727456
SSE for 194 iter: 1029.8580102832398
SSE for 195 iter: 1021.4827930575012
SSE for 196 iter: 1013.196963645826
SSE for 197 iter: 1005.0040682718377
SSE for 198 iter: 996.9072906793688
SSE for 199 iter: 988.909380146942
SSE for 200 iter: 981.0126017665254
SSE for 201 iter: 973.218708961401
SSE for 202 iter: 965.5289368109912
SSE for 203 iter: 957.9440137333099
SSE for 204 iter: 950.4641884018274
SSE for 205 iter: 943.0892683976344
SSE for 206 iter: 935.8186669920249
SSE for 207 iter: 928.6514545973487
SSE for 208 iter: 921.5864117865206
SSE for 209 iter: 914.6220813163078
SSE for 210 iter: 907.7568172280559
SSE for 211 iter: 900.9888297577718
SSE for 212 iter: 894.3162253898397
SSE for 213 iter: 887.7370418728199
SSE for 214 iter: 881.2492783503201
SSE for 215 iter: 874.8509209472119
SSE for 216 iter: 868.53996421681
SSE for 217 iter: 862.314428836593
SSE for 218 iter: 856.1723758886002
SSE for 219 iter: 850.1119180021279
SSE for 220 iter: 844.1312276027427
SSE for 221 iter: 838.2285425038998
SSE for 222 iter: 832.402169095727
SSE for 223 iter: 826.650483420082
SSE for 224 iter: 820.9719304565367
SSE for 225 iter: 815.3650219730232
SSE for 226 iter: 809.8283333075891
SSE for 227 iter: 804.3604994414923
SSE for 228 iter: 798.9602107001724
SSE for 229 iter: 793.626208378003
SSE for 230 iter: 788.3572805312883
SSE for 231 iter: 783.1522581251354
SSE for 232 iter: 778.0100116601227
SSE for 233 iter: 772.9294483439659
SSE for 234 iter: 767.909509821218
SSE for 235 iter: 762.9491704260844
SSE for 236 iter: 758.0474358878984
SSE for 237 iter: 753.203342391372
SSE for 238 iter: 748.4159558786819
SSE for 239 iter: 743.6843714746051
SSE for 240 iter: 739.0077129199532
SSE for 241 iter: 734.3851319098716
SSE for 242 iter: 729.8158072509681
SSE for 243 iter: 725.2989437722366
SSE for 244 iter: 720.8337709483241
SSE for 245 iter: 716.4195412167643
SSE for 246 iter: 712.0555279938561
SSE for 247 iter: 707.7410234132273
SSE for 248 iter: 703.4753358286983
SSE for 249 iter: 699.2577871367388
SSE for 250 iter: 695.0877099828282

In [59]:
user_mat2, feature_mat2 = FunkSVD(trans_mat, learning_rate = 0.017, iters = 250)

Optimization Statistics
Iterations | Mean Squared Error
SSE for 1 iter: 18152.85001680402
SSE for 2 iter: 16782.769906550628
SSE for 3 iter: 16520.582925327224
SSE for 4 iter: 16254.887544379922
SSE for 5 iter: 15982.964381702677
SSE for 6 iter: 15701.498247061765
SSE for 7 iter: 15406.58918036479
SSE for 8 iter: 15093.877887350329
SSE for 9 iter: 14758.847149749856
SSE for 10 iter: 14397.351418745115
SSE for 11 iter: 14006.38011176103
SSE for 12 iter: 13584.96606525153
SSE for 13 iter: 13135.028224167425
SSE for 14 iter: 12661.849090717296
SSE for 15 iter: 12173.915398500963
SSE for 16 iter: 11682.03322101736
SSE for 17 iter: 11197.902518808281
SSE for 18 iter: 10732.55311794525
SSE for 19 iter: 10295.071583753728
SSE for 20 iter: 9891.875817057511
SSE for 21 iter: 9526.549180649134
SSE for 22 iter: 9200.082942520818
SSE for 23 iter: 8911.344138553104
SSE for 24 iter: 8657.62894239736
SSE for 25 iter: 8435.213717020944
SSE for 26 iter: 8239.851992401253
SSE for 27 iter: 8067.183922800119
SSE for 28 iter: 7913.032649913903
SSE for 29 iter: 7773.575428545342
SSE for 30 iter: 7645.407593310118
SSE for 31 iter: 7525.548835830844
SSE for 32 iter: 7411.440712683456
SSE for 33 iter: 7300.947370795448
SSE for 34 iter: 7192.333122142572
SSE for 35 iter: 7084.162706593821
SSE for 36 iter: 6975.008181647068
SSE for 37 iter: 6862.808303750891
SSE for 38 iter: 6744.012443791043
SSE for 39 iter: 6613.243133590556
SSE for 40 iter: 6464.30877599016
SSE for 41 iter: 6292.545694842681
SSE for 42 iter: 6097.452679872371
SSE for 43 iter: 5884.080651251251
SSE for 44 iter: 5661.928824243507
SSE for 45 iter: 5441.624969392231
SSE for 46 iter: 5231.496523483303
SSE for 47 iter: 5036.04918433684
SSE for 48 iter: 4856.468360627506
SSE for 49 iter: 4691.950716547057
SSE for 50 iter: 4540.864986804658
SSE for 51 iter: 4401.438303643995
SSE for 52 iter: 4272.062370509269
SSE for 53 iter: 4151.38614814588
SSE for 54 iter: 4038.312415217414
SSE for 55 iter: 3931.9601745279297
SSE for 56 iter: 3831.6205970356837
SSE for 57 iter: 3736.7171186217265
SSE for 58 iter: 3646.7727903343593
SSE for 59 iter: 3561.384997802509
SSE for 60 iter: 3480.206625739972
SSE for 61 iter: 3402.932475626787
SSE for 62 iter: 3329.2897631712735
SSE for 63 iter: 3259.0316445139715
SSE for 64 iter: 3191.9328827728596
SSE for 65 iter: 3127.7869440553986
SSE for 66 iter: 3066.4039875032445
SSE for 67 iter: 3007.6093723961767
SSE for 68 iter: 2951.24243602408
SSE for 69 iter: 2897.1553946213503
SSE for 70 iter: 2845.2122881331265
SSE for 71 iter: 2795.287933964288
SSE for 72 iter: 2747.266882251688
SSE for 73 iter: 2701.0423816110747
SSE for 74 iter: 2656.5153737428127
SSE for 75 iter: 2613.593539863184
SSE for 76 iter: 2572.1904226310007
SSE for 77 iter: 2532.2246446497884
SSE for 78 iter: 2493.619239461843
SSE for 79 iter: 2456.301104211106
SSE for 80 iter: 2420.200575976649
SSE for 81 iter: 2385.2511271745752
SSE for 82 iter: 2351.3891700437766
SSE for 83 iter: 2318.5539562776175
SSE for 84 iter: 2286.687555211437
SSE for 85 iter: 2255.7348923104796
SSE for 86 iter: 2225.643828768986
SSE for 87 iter: 2196.365262700458
SSE for 88 iter: 2167.853232721635
SSE for 89 iter: 2140.065005843955
SSE for 90 iter: 2112.961133631375
SSE for 91 iter: 2086.5054635948213
SSE for 92 iter: 2060.6650966862007
SSE for 93 iter: 2035.4102863070734
SSE for 94 iter: 2010.714279130066
SSE for 95 iter: 1986.553102841247
SSE for 96 iter: 1962.9053102088656
SSE for 97 iter: 1939.7516922344207
SSE for 98 iter: 1917.074975189912
SSE for 99 iter: 1894.8595168850097
SSE for 100 iter: 1873.0910165364762
SSE for 101 iter: 1851.756250343662
SSE for 102 iter: 1830.8428416874317
SSE for 103 iter: 1810.3390712495755
SSE for 104 iter: 1790.2337287528437
SSE for 105 iter: 1770.516004844979
SSE for 106 iter: 1751.1754191353373
SSE for 107 iter: 1732.2017786591962
SSE for 108 iter: 1713.5851600788462
SSE for 109 iter: 1695.3159086461208
SSE for 110 iter: 1677.3846472021412
SSE for 111 iter: 1659.7822891386324
SSE for 112 iter: 1642.5000501457175
SSE for 113 iter: 1625.5294546148154
SSE for 114 iter: 1608.8623336735072
SSE for 115 iter: 1592.4908129447294
SSE for 116 iter: 1576.4072892289794
SSE for 117 iter: 1560.6043963972513
SSE for 118 iter: 1545.0749618542388
SSE for 119 iter: 1529.8119559890793
SSE for 120 iter: 1514.808438047834
SSE for 121 iter: 1500.057502780826
SSE for 122 iter: 1485.5522329455266
SSE for 123 iter: 1471.2856631420264
SSE for 124 iter: 1457.2507603571034
SSE for 125 iter: 1443.440425823881
SSE for 126 iter: 1429.8475212443277
SSE for 127 iter: 1416.4649200307194
SSE for 128 iter: 1403.2855811325537
SSE for 129 iter: 1390.3026395433176
SSE for 130 iter: 1377.509504256677
SSE for 131 iter: 1364.899951930239
SSE for 132 iter: 1352.4682035064693
SSE for 133 iter: 1340.2089720640965
SSE for 134 iter: 1328.1174734365584
SSE for 135 iter: 1316.1893963952878
SSE for 136 iter: 1304.4208357375057
SSE for 137 iter: 1292.8081983264055
SSE for 138 iter: 1281.3480976431924
SSE for 139 iter: 1270.0372553666332
SSE for 140 iter: 1258.872427853344
SSE for 141 iter: 1247.850370816714
SSE for 142 iter: 1236.9678477216867
SSE for 143 iter: 1226.2216783890965
SSE for 144 iter: 1215.6088169019579
SSE for 145 iter: 1205.1264449216303
SSE for 146 iter: 1194.7720692415392
SSE for 147 iter: 1184.5436193852597
SSE for 148 iter: 1174.439548159164
SSE for 149 iter: 1164.4589402307781
SSE for 150 iter: 1154.6016279975008
SSE for 151 iter: 1144.8683017911872
SSE for 152 iter: 1135.2605891725987
SSE for 153 iter: 1125.7810738781511
SSE for 154 iter: 1116.4332338886768
SSE for 155 iter: 1107.2212979633034
SSE for 156 iter: 1098.1500417584703
SSE for 157 iter: 1089.2245574905328
SSE for 158 iter: 1080.4500295360283
SSE for 159 iter: 1071.8315362651963
SSE for 160 iter: 1063.3738859624827
SSE for 161 iter: 1055.0814900781106
SSE for 162 iter: 1046.9582795127383
SSE for 163 iter: 1039.0076704702974
SSE for 164 iter: 1031.232577733892
SSE for 165 iter: 1023.6354566089948
SSE for 166 iter: 1016.2183415547975
SSE for 167 iter: 1008.9828517707012
SSE for 168 iter: 1001.9301541007069
SSE for 169 iter: 995.0609014268708
SSE for 170 iter: 988.3751845996387
SSE for 171 iter: 981.872537260132
SSE for 172 iter: 975.5520156378078
SSE for 173 iter: 969.4123478799705
SSE for 174 iter: 963.4521199673328
SSE for 175 iter: 957.6699453507811
SSE for 176 iter: 952.0645572734527
SSE for 177 iter: 946.6347684630286
SSE for 178 iter: 941.3792630647191
SSE for 179 iter: 936.2962180222008
SSE for 180 iter: 931.3827890110117
SSE for 181 iter: 926.6345293809982
SSE for 182 iter: 922.0448292086646
SSE for 183 iter: 917.6044597381472
SSE for 184 iter: 913.3012875623461
SSE for 185 iter: 909.1201906578929
SSE for 186 iter: 905.0431753857239
SSE for 187 iter: 901.0496686514265
SSE for 188 iter: 897.1169467784579
SSE for 189 iter: 893.2206614566926
SSE for 190 iter: 889.3354292335491
SSE for 191 iter: 885.4354594020639
SSE for 192 iter: 881.49520187265
SSE for 193 iter: 877.4899997272521
SSE for 194 iter: 873.396730566014
SSE for 195 iter: 869.1944176562175
SSE for 196 iter: 864.8647880454477
SSE for 197 iter: 860.3927519657601
SSE for 198 iter: 855.7667774477195
SSE for 199 iter: 850.9791369163818
SSE for 200 iter: 846.0260088331344
SSE for 201 iter: 840.9074266503713
SSE for 202 iter: 835.6270783499373
SSE for 203 iter: 830.1919711310418
SSE for 204 iter: 824.6119857969805
SSE for 205 iter: 818.899352695528
SSE for 206 iter: 813.0680848197625
SSE for 207 iter: 807.1334036351318
SSE for 208 iter: 801.1111897447497
SSE for 209 iter: 795.0174844812083
SSE for 210 iter: 788.8680610104146
SSE for 211 iter: 782.6780756469535
SSE for 212 iter: 776.4618027369639
SSE for 213 iter: 770.2324503143834
SSE for 214 iter: 764.0020491214636
SSE for 215 iter: 757.7814045883231
SSE for 216 iter: 751.5800998609228
SSE for 217 iter: 745.4065377103768
SSE for 218 iter: 739.2680098429497
SSE for 219 iter: 733.170783455111
SSE for 220 iter: 727.1201965612554
SSE for 221 iter: 721.1207554348518
SSE for 222 iter: 715.1762292686007
SSE for 223 iter: 709.289738756783
SSE for 224 iter: 703.4638366569282
SSE for 225 iter: 697.7005794682166
SSE for 226 iter: 692.0015901703075
SSE for 227 iter: 686.3681125186464
SSE for 228 iter: 680.8010577300491
SSE for 229 iter: 675.301044555011
SSE for 230 iter: 669.8684337673797
SSE for 231 iter: 664.5033580466933
SSE for 232 iter: 659.2057481179484
SSE for 233 iter: 653.9753558770524
SSE for 234 iter: 648.8117750871545
SSE for 235 iter: 643.7144600960369
SSE for 236 iter: 638.6827429064648
SSE for 237 iter: 633.7158488339352
SSE for 238 iter: 628.8129109106036
SSE for 239 iter: 623.9729831393917
SSE for 240 iter: 619.195052665213
SSE for 241 iter: 614.4780509085907
SSE for 242 iter: 609.8208636960311
SSE for 243 iter: 605.2223404196528
SSE for 244 iter: 600.6813022613255
SSE for 245 iter: 596.1965495230263
SSE for 246 iter: 591.7668681118329
SSE for 247 iter: 587.3910352359743
SSE for 248 iter: 583.0678243733605
SSE for 249 iter: 578.7960095788867
SSE for 250 iter: 574.57436919946

In [150]:
trans_mat

array([[ nan,  nan,  nan, ...,  nan,  nan,  nan],
       [ nan,  nan, 1.  , ..., 0.  , 0.55, 1.12],
       [ nan,  nan, 0.  , ...,  nan,  nan,  nan],
       ...,
       [ nan,  nan,  nan, ..., 1.  , 0.49, 0.73],
       [1.  , 1.  , 1.  , ..., 0.  , 0.83, 0.5 ],
       [ nan,  nan,  nan, ..., 0.  , 0.62, 0.82]])

In [169]:
user_mat3, feature_mat3 = FunkSVD(trans_mat, learning_rate = 0.001, iters = 500)

Optimization Statistics
Iterations | Mean Squared Error
SSE for 1 iter: 172730.5385249889
SSE for 2 iter: 160381.80127234408
SSE for 3 iter: 159576.9644845807
SSE for 4 iter: 158923.04905612103
SSE for 5 iter: 158253.93394181502
SSE for 6 iter: 157538.19810835007
SSE for 7 iter: 156753.87470696575
SSE for 8 iter: 155873.18175368352
SSE for 9 iter: 154858.45148995347
SSE for 10 iter: 153658.87210720088
SSE for 11 iter: 152206.95451843712
SSE for 12 iter: 150415.03647854432
SSE for 13 iter: 148172.85147527745
SSE for 14 iter: 145348.15841006837
SSE for 15 iter: 141793.71467073858
SSE for 16 iter: 137365.0243124319
SSE for 17 iter: 131952.94220269533
SSE for 18 iter: 125530.91929082095
SSE for 19 iter: 118206.3326357676
SSE for 20 iter: 110251.5777708813
SSE for 21 iter: 102085.17986444679
SSE for 22 iter: 94191.08437121054
SSE for 23 iter: 87002.8338611153
SSE for 24 iter: 80807.33797405622
SSE for 25 iter: 75710.51458267463
SSE for 26 iter: 71665.33940394035
SSE for 27 iter: 68531.11249771787
SSE for 28 iter: 66131.06469062291
SSE for 29 iter: 64291.72248542279
SSE for 30 iter: 62862.77890245424
SSE for 31 iter: 61723.161015057834
SSE for 32 iter: 60779.58295887952
SSE for 33 iter: 59962.030606106826
SSE for 34 iter: 59218.655666011575
SSE for 35 iter: 58511.198963414354
SSE for 36 iter: 57811.30599395163
SSE for 37 iter: 57097.74142039787
SSE for 38 iter: 56354.37353233582
SSE for 39 iter: 55568.76999681732
SSE for 40 iter: 54731.25985421369
SSE for 41 iter: 53834.34317842377
SSE for 42 iter: 52872.35591921931
SSE for 43 iter: 51841.31844739241
SSE for 44 iter: 50738.91134654137
SSE for 45 iter: 49564.53177168236
SSE for 46 iter: 48319.38958689142
SSE for 47 iter: 47006.60608783913
SSE for 48 iter: 45631.281034949716
SSE for 49 iter: 44200.49748468548
SSE for 50 iter: 42723.23973119346
SSE for 51 iter: 41210.208251358315
SSE for 52 iter: 39673.526829872346
SSE for 53 iter: 38126.35011423297
SSE for 54 iter: 36582.39302718157
SSE for 55 iter: 35055.414618232055
SSE for 56 iter: 33558.696017918395
SSE for 57 iter: 32104.553767831178
SSE for 58 iter: 30703.925606628218
SSE for 59 iter: 29366.0566577128
SSE for 60 iter: 28098.30170812562
SSE for 61 iter: 26906.0461749036
SSE for 62 iter: 25792.73659598878
SSE for 63 iter: 24760.002645899858
SSE for 64 iter: 23807.847528285816
SSE for 65 iter: 22934.882098713213
SSE for 66 iter: 22138.579579638772
SSE for 67 iter: 21415.531287723934
SSE for 68 iter: 20761.688398042235
SSE for 69 iter: 20172.57956456962
SSE for 70 iter: 19643.498590717012
SSE for 71 iter: 19169.65994624931
SSE for 72 iter: 18746.322627451013
SSE for 73 iter: 18368.884683426983
SSE for 74 iter: 18032.951804198627
SSE for 75 iter: 17734.383847431407
SSE for 76 iter: 17469.323235116608
SSE for 77 iter: 17234.208925613268
SSE for 78 iter: 17025.77927817298
SSE for 79 iter: 16841.066664073354
SSE for 80 iter: 16677.386201512083
SSE for 81 iter: 16532.320538709475
SSE for 82 iter: 16403.70220282663
SSE for 83 iter: 16289.59468093308
SSE for 84 iter: 16188.273105125149
SSE for 85 iter: 16098.205173993994
SSE for 86 iter: 16018.032751363491
SSE for 87 iter: 15946.554433884912
SSE for 88 iter: 15882.7092648796
SSE for 89 iter: 15825.561686336652
SSE for 90 iter: 15774.287758507682
SSE for 91 iter: 15728.16263217437
SSE for 92 iter: 15686.549228325755
SSE for 93 iter: 15648.888060286672
SSE for 94 iter: 15614.688121644462
SSE for 95 iter: 15583.518757450433
SSE for 96 iter: 15555.00243453436
SSE for 97 iter: 15528.808328050865
SSE for 98 iter: 15504.646644608458
SSE for 99 iter: 15482.263606860835
SSE for 100 iter: 15461.43702963041
SSE for 101 iter: 15441.972423215711
SSE for 102 iter: 15423.69956514948
SSE for 103 iter: 15406.469487185272
SSE for 104 iter: 15390.151829553999
SSE for 105 iter: 15374.632519489809
SSE for 106 iter: 15359.811735613443
SSE for 107 iter: 15345.602123967526
SSE for 108 iter: 15331.927235353998
SSE for 109 iter: 15318.720157080823
SSE for 110 iter: 15305.922315353337
SSE for 111 iter: 15293.482427341076
SSE for 112 iter: 15281.355584448027
SSE for 113 iter: 15269.502450528405
SSE for 114 iter: 15257.888560759695
SSE for 115 iter: 15246.483708628908
SSE for 116 iter: 15235.261410017265
SSE for 117 iter: 15224.198434738202
SSE for 118 iter: 15213.274397060082
SSE for 119 iter: 15202.471397814814
SSE for 120 iter: 15191.773711597598
SSE for 121 iter: 15181.167513389502
SSE for 122 iter: 15170.64063962606
SSE for 123 iter: 15160.182379382612
SSE for 124 iter: 15149.783291866426
SSE for 125 iter: 15139.43504690232
SSE for 126 iter: 15129.130285508048
SSE for 127 iter: 15118.862498021534
SSE for 128 iter: 15108.62591756881
SSE for 129 iter: 15098.415426927279
SSE for 130 iter: 15088.226477104374
SSE for 131 iter: 15078.055016140468
SSE for 132 iter: 15067.897426857899
SSE for 133 iter: 15057.7504724158
SSE for 134 iter: 15047.611248694286
SSE for 135 iter: 15037.477142644251
SSE for 136 iter: 15027.345795850797
SSE for 137 iter: 15017.215072651696
SSE for 138 iter: 15007.083032241177
SSE for 139 iter: 14996.947904255512
SSE for 140 iter: 14986.808067403408
SSE for 141 iter: 14976.662030753847
SSE for 142 iter: 14966.508417357694
SSE for 143 iter: 14956.345949901173
SSE for 144 iter: 14946.173438139143
SSE for 145 iter: 14935.989767888883
SSE for 146 iter: 14925.793891381043
SSE for 147 iter: 14915.584818810516
SSE for 148 iter: 14905.361610922562
SSE for 149 iter: 14895.123372517455
SSE for 150 iter: 14884.869246753711
SSE for 151 iter: 14874.598410149658
SSE for 152 iter: 14864.310068197068
SSE for 153 iter: 14854.003451517721
SSE for 154 iter: 14843.677812482356
SSE for 155 iter: 14833.332422246312
SSE for 156 iter: 14822.966568146347
SSE for 157 iter: 14812.579551412431
SSE for 158 iter: 14802.170685157153
SSE for 159 iter: 14791.739292609856
SSE for 160 iter: 14781.284705564058
SSE for 161 iter: 14770.806263010672
SSE for 162 iter: 14760.303309937117
SSE for 163 iter: 14749.775196270342
SSE for 164 iter: 14739.221275948787
SSE for 165 iter: 14728.640906100383
SSE for 166 iter: 14718.033446324947
SSE for 167 iter: 14707.398258058067
SSE for 168 iter: 14696.734704014061
SSE for 169 iter: 14686.042147692659
SSE for 170 iter: 14675.319952949334
SSE for 171 iter: 14664.567483610348
SSE for 172 iter: 14653.784103141901
SSE for 173 iter: 14642.96917435374
SSE for 174 iter: 14632.122059142544
SSE for 175 iter: 14621.242118264548
SSE for 176 iter: 14610.328711139366
SSE for 177 iter: 14599.38119567688
SSE for 178 iter: 14588.398928128443
SSE for 179 iter: 14577.38126295606
SSE for 180 iter: 14566.32755272313
SSE for 181 iter: 14555.237148000147
SSE for 182 iter: 14544.109397282657
SSE for 183 iter: 14532.94364692866
SSE for 184 iter: 14521.73924110219
SSE for 185 iter: 14510.495521732992
SSE for 186 iter: 14499.211828484835
SSE for 187 iter: 14487.887498732289
SSE for 188 iter: 14476.52186754953
SSE for 189 iter: 14465.114267706324
SSE for 190 iter: 14453.664029669888
SSE for 191 iter: 14442.170481618554
SSE for 192 iter: 14430.632949459083
SSE for 193 iter: 14419.050756853285
SSE for 194 iter: 14407.423225249893
SSE for 195 iter: 14395.74967392409
SSE for 196 iter: 14384.02942002146
SSE for 197 iter: 14372.261778610333
SSE for 198 iter: 14360.44606273903
SSE for 199 iter: 14348.581583497813
SSE for 200 iter: 14336.66765008816
SSE for 201 iter: 14324.703569898316
SSE for 202 iter: 14312.688648581474
SSE for 203 iter: 14300.622190142376
SSE for 204 iter: 14288.50349702898
SSE for 205 iter: 14276.331870227152
SSE for 206 iter: 14264.106609364464
SSE for 207 iter: 14251.827012816057
SSE for 208 iter: 14239.492377817862
SSE for 209 iter: 14227.102000585179
SSE for 210 iter: 14214.655176434595
SSE for 211 iter: 14202.151199913893
SSE for 212 iter: 14189.589364934884
SSE for 213 iter: 14176.968964913398
SSE for 214 iter: 14164.289292913745
SSE for 215 iter: 14151.549641798449
SSE for 216 iter: 14138.749304382516
SSE for 217 iter: 14125.887573594433
SSE for 218 iter: 14112.963742642482
SSE for 219 iter: 14099.977105184758
SSE for 220 iter: 14086.92695550415
SSE for 221 iter: 14073.812588692685
SSE for 222 iter: 14060.633300834732
SSE for 223 iter: 14047.388389201738
SSE for 224 iter: 14034.077152447413
SSE for 225 iter: 14020.698890810772
SSE for 226 iter: 14007.252906323223
SSE for 227 iter: 13993.738503021115
SSE for 228 iter: 13980.154987164224
SSE for 229 iter: 13966.501667457214
SSE for 230 iter: 13952.777855279608
SSE for 231 iter: 13938.982864917025
SSE for 232 iter: 13925.11601380103
SSE for 233 iter: 13911.17662274967
SSE for 234 iter: 13897.16401621931
SSE for 235 iter: 13883.077522553473
SSE for 236 iter: 13868.916474245316
SSE for 237 iter: 13854.680208197042
SSE for 238 iter: 13840.368065988012
SSE for 239 iter: 13825.979394149399
SSE for 240 iter: 13811.51354443882
SSE for 241 iter: 13796.969874123268
SSE for 242 iter: 13782.347746265174
SSE for 243 iter: 13767.646530012584
SSE for 244 iter: 13752.865600896263
SSE for 245 iter: 13738.004341127056
SSE for 246 iter: 13723.062139900794
SSE for 247 iter: 13708.038393706796
SSE for 248 iter: 13692.932506638777
SSE for 249 iter: 13677.743890711577
SSE for 250 iter: 13662.471966180621
SSE for 251 iter: 13647.116161866279
SSE for 252 iter: 13631.675915481552
SSE for 253 iter: 13616.150673959892
SSE for 254 iter: 13600.539893793813
SSE for 255 iter: 13584.843041369326
SSE for 256 iter: 13569.059593306425
SSE for 257 iter: 13553.189036805168
SSE for 258 iter: 13537.230869987445
SSE for 259 iter: 13521.184602250558
SSE for 260 iter: 13505.049754616619
SSE for 261 iter: 13488.825860084376
SSE for 262 iter: 13472.512463987585
SSE for 263 iter: 13456.109124352015
SSE for 264 iter: 13439.615412253534
SSE for 265 iter: 13423.030912180178
SSE for 266 iter: 13406.35522239321
SSE for 267 iter: 13389.587955291456
SSE for 268 iter: 13372.728737774394
SSE for 269 iter: 13355.777211606952
SSE for 270 iter: 13338.733033784505
SSE for 271 iter: 13321.595876897773
SSE for 272 iter: 13304.365429497215
SSE for 273 iter: 13287.041396459672
SSE for 274 iter: 13269.623499348425
SSE for 275 iter: 13252.11147677938
SSE for 276 iter: 13234.505084780443
SSE for 277 iter: 13216.804097152599
SSE for 278 iter: 13199.008305827532
SSE for 279 iter: 13181.117521224092
SSE for 280 iter: 13163.131572601416
SSE for 281 iter: 13145.050308408367
SSE for 282 iter: 13126.873596633957
SSE for 283 iter: 13108.601325148691
SSE for 284 iter: 13090.233402047486
SSE for 285 iter: 13071.769755982514
SSE for 286 iter: 13053.210336499324
SSE for 287 iter: 13034.55511435932
SSE for 288 iter: 13015.804081864906
SSE for 289 iter: 12996.957253174443
SSE for 290 iter: 12978.014664612241
SSE for 291 iter: 12958.976374973618
SSE for 292 iter: 12939.842465821637
SSE for 293 iter: 12920.613041777931
SSE for 294 iter: 12901.288230806435
SSE for 295 iter: 12881.868184487734
SSE for 296 iter: 12862.353078288073
SSE for 297 iter: 12842.74311181583
SSE for 298 iter: 12823.038509074644
SSE for 299 iter: 12803.239518701223
SSE for 300 iter: 12783.346414199406
SSE for 301 iter: 12763.359494159953
SSE for 302 iter: 12743.279082471712
SSE for 303 iter: 12723.105528522186
SSE for 304 iter: 12702.839207388939
SSE for 305 iter: 12682.48052001368
SSE for 306 iter: 12662.029893371931
SSE for 307 iter: 12641.487780626767
SSE for 308 iter: 12620.85466126959
SSE for 309 iter: 12600.131041249828
SSE for 310 iter: 12579.317453093048
SSE for 311 iter: 12558.414456000084
SSE for 312 iter: 12537.422635939927
SSE for 313 iter: 12516.342605722224
SSE for 314 iter: 12495.175005061199
SSE for 315 iter: 12473.920500619199
SSE for 316 iter: 12452.579786040662
SSE for 317 iter: 12431.153581968027
SSE for 318 iter: 12409.642636043325
SSE for 319 iter: 12388.04772289464
SSE for 320 iter: 12366.369644106759
SSE for 321 iter: 12344.60922817417
SSE for 322 iter: 12322.767330441802
SSE for 323 iter: 12300.844833025372
SSE for 324 iter: 12278.842644717919
SSE for 325 iter: 12256.761700879726
SSE for 326 iter: 12234.60296330974
SSE for 327 iter: 12212.367420102437
SSE for 328 iter: 12190.056085486714
SSE for 329 iter: 12167.669999648126
SSE for 330 iter: 12145.210228533184
SSE for 331 iter: 12122.677863639308
SSE for 332 iter: 12100.074021784276
SSE for 333 iter: 12077.399844861442
SSE for 334 iter: 12054.65649957653
SSE for 335 iter: 12031.845177169069
SSE for 336 iter: 12008.967093113024
SSE for 337 iter: 11986.023486807244
SSE for 338 iter: 11963.01562124077
SSE for 339 iter: 11939.944782651017
SSE for 340 iter: 11916.812280157881
SSE for 341 iter: 11893.619445383605
SSE for 342 iter: 11870.367632059679
SSE for 343 iter: 11847.058215613763
SSE for 344 iter: 11823.692592743646
SSE for 345 iter: 11800.27218097416
SSE for 346 iter: 11776.798418198976
SSE for 347 iter: 11753.272762209974
SSE for 348 iter: 11729.696690208251
SSE for 349 iter: 11706.071698303283
SSE for 350 iter: 11682.399300997256
SSE for 351 iter: 11658.681030657312
SSE for 352 iter: 11634.918436971819
SSE for 353 iter: 11611.113086395395
SSE for 354 iter: 11587.266561582868
SSE for 355 iter: 11563.380460808052
SSE for 356 iter: 11539.456397373986
SSE for 357 iter: 11515.495999008901
SSE for 358 iter: 11491.500907256343
SSE for 359 iter: 11467.472776848002
SSE for 360 iter: 11443.413275074534
SSE for 361 iter: 11419.324081141012
SSE for 362 iter: 11395.206885517711
SSE for 363 iter: 11371.063389280878
SSE for 364 iter: 11346.8953034461
SSE for 365 iter: 11322.70434829391
SSE for 366 iter: 11298.492252691645
SSE for 367 iter: 11274.260753405692
SSE for 368 iter: 11250.011594410711
SSE for 369 iter: 11225.746526193405
SSE for 370 iter: 11201.467305052647
SSE for 371 iter: 11177.17569239371
SSE for 372 iter: 11152.873454023504
SSE for 373 iter: 11128.562359439158
SSE for 374 iter: 11104.24418111719
SSE for 375 iter: 11079.920693800626
SSE for 376 iter: 11055.593673786594
SSE for 377 iter: 11031.264898212414
SSE for 378 iter: 11006.936144341536
SSE for 379 iter: 10982.609188853428
SSE for 380 iter: 10958.285807134394
SSE for 381 iter: 10933.967772566464
SSE for 382 iter: 10909.656855826577
SSE for 383 iter: 10885.354824181613
SSE for 384 iter: 10861.063440794962
SSE for 385 iter: 10836.784464030614
SSE for 386 iter: 10812.51964676717
SSE for 387 iter: 10788.270735716102
SSE for 388 iter: 10764.039470745483
SSE for 389 iter: 10739.827584211675
SSE for 390 iter: 10715.63680029817
SSE for 391 iter: 10691.468834360943
SSE for 392 iter: 10667.325392283861
SSE for 393 iter: 10643.208169841984
SSE for 394 iter: 10619.118852073529
SSE for 395 iter: 10595.059112662693
SSE for 396 iter: 10571.030613332023
SSE for 397 iter: 10547.035003245457
SSE for 398 iter: 10523.073918421082
SSE for 399 iter: 10499.148981158447
SSE for 400 iter: 10475.261799474416
SSE for 401 iter: 10451.413966551874
SSE for 402 iter: 10427.607060201732
SSE for 403 iter: 10403.842642337704
SSE for 404 iter: 10380.122258463185
SSE for 405 iter: 10356.447437172306
SSE for 406 iter: 10332.819689663156
SSE for 407 iter: 10309.240509268682
SSE for 408 iter: 10285.711370996678
SSE for 409 iter: 10262.23373108811
SSE for 410 iter: 10238.809026587867
SSE for 411 iter: 10215.438674931267
SSE for 412 iter: 10192.12407354553
SSE for 413 iter: 10168.866599465066
SSE for 414 iter: 10145.66760896407
SSE for 415 iter: 10122.528437202734
SSE for 416 iter: 10099.45039788999
SSE for 417 iter: 10076.434782959901
SSE for 418 iter: 10053.48286226759
SSE for 419 iter: 10030.595883294958
SSE for 420 iter: 10007.775070878753
SSE for 421 iter: 9985.021626947098
SSE for 422 iter: 9962.336730279885
SSE for 423 iter: 9939.721536276316
SSE for 424 iter: 9917.177176744543
SSE for 425 iter: 9894.704759703322
SSE for 426 iter: 9872.30536920171
SSE for 427 iter: 9849.980065150206
SSE for 428 iter: 9827.729883172773
SSE for 429 iter: 9805.55583446884
SSE for 430 iter: 9783.458905693786
SSE for 431 iter: 9761.440058852157
SSE for 432 iter: 9739.50023120781
SSE for 433 iter: 9717.64033520644
SSE for 434 iter: 9695.861258414549
SSE for 435 iter: 9674.1638634721
SSE for 436 iter: 9652.54898805716
SSE for 437 iter: 9631.017444868643
SSE for 438 iter: 9609.570021618334
SSE for 439 iter: 9588.207481039683
SSE for 440 iter: 9566.930560907376
SSE for 441 iter: 9545.739974071523
SSE for 442 iter: 9524.636408503411
SSE for 443 iter: 9503.620527354795
SSE for 444 iter: 9482.692969028354
SSE for 445 iter: 9461.854347259574
SSE for 446 iter: 9441.105251213294
SSE for 447 iter: 9420.446245586854
SSE for 448 iter: 9399.87787072857
SSE for 449 iter: 9379.400642764307
SSE for 450 iter: 9359.01505373574
SSE for 451 iter: 9338.721571748225
SSE for 452 iter: 9318.520641128109
SSE for 453 iter: 9298.412682591603
SSE for 454 iter: 9278.39809341981
SSE for 455 iter: 9258.477247644694
SSE for 456 iter: 9238.650496244129
SSE for 457 iter: 9218.918167341988
SSE for 458 iter: 9199.280566421354
SSE for 459 iter: 9179.737976539513
SSE for 460 iter: 9160.290658556163
SSE for 461 iter: 9140.938851362149
SSE for 462 iter: 9121.682772122227
SSE for 463 iter: 9102.522616517388
SSE for 464 iter: 9083.458558997341
SSE for 465 iter: 9064.490753038459
SSE for 466 iter: 9045.619331404712
SSE for 467 iter: 9026.844406416796
SSE for 468 iter: 9008.166070223826
SSE for 469 iter: 8989.584395080847
SSE for 470 iter: 8971.099433630303
SSE for 471 iter: 8952.71121918694
SSE for 472 iter: 8934.419766026918
SSE for 473 iter: 8916.225069681126
SSE for 474 iter: 8898.127107228956
SSE for 475 iter: 8880.125837598003
SSE for 476 iter: 8862.221201865243
SSE for 477 iter: 8844.413123558512
SSE for 478 iter: 8826.701508963632
SSE for 479 iter: 8809.086247431003
SSE for 480 iter: 8791.567211683512
SSE for 481 iter: 8774.14425812736
SSE for 482 iter: 8756.817227162928
SSE for 483 iter: 8739.585943496248
SSE for 484 iter: 8722.450216452307
SSE for 485 iter: 8705.409840287566
SSE for 486 iter: 8688.464594502917
SSE for 487 iter: 8671.614244156974
SSE for 488 iter: 8654.85854017898
SSE for 489 iter: 8638.197219682183
SSE for 490 iter: 8621.630006273906
SSE for 491 iter: 8605.156610368935
SSE for 492 iter: 8588.77672949817
SSE for 493 iter: 8572.490048618378
SSE for 494 iter: 8556.296240420535
SSE for 495 iter: 8540.194965635244
SSE for 496 iter: 8524.18587333881
SSE for 497 iter: 8508.2686012548
SSE for 498 iter: 8492.442776057991
SSE for 499 iter: 8476.70801367048
SSE for 500 iter: 8461.063919561042

In [170]:
pred = np.dot(user_mat3,feature_mat3)

In [171]:
pred_df = pd.DataFrame(pred, index = trans_mat_df.index, columns = trans_mat_df.columns )
pred_df.head()

,0,1,3,4,5,6,8,9,mean_trans_without_offer,mean_trans_with_offer,reward,gender,age,income
0,0.226803,0.289082,0.484476,0.293518,0.571424,0.561434,0.576972,0.398393,0.197523,0.205244,0.396920,0.652485,0.515165,0.585959
1,0.829749,0.723070,0.945269,0.632886,1.012571,0.783323,0.927443,0.788935,2.733180,2.345882,0.585831,0.378117,0.564422,0.730071
2,0.531117,0.384819,0.402109,0.352820,0.300684,0.568432,0.270752,0.417030,0.216061,1.771576,0.392709,0.476015,0.329856,0.411426
3,1.188304,1.033520,1.280826,1.158938,1.233206,1.188980,1.098646,1.098297,2.350621,2.081692,0.679600,0.186661,0.626020,0.787213
4,0.298628,0.487721,0.722292,0.431413,0.963006,0.783956,0.741101,0.572742,0.123433,0.471346,0.430099,0.609716,0.533319,0.588045

In [172]:
trans_mat_df

,0,1,3,4,5,6,8,9,mean_trans_without_offer,mean_trans_with_offer,reward,gender,age,income
0,NaN,NaN,NaN,0.0,1.0,0.5,NaN,0.0,0.228500,0.2120,0.500000,NaN,NaN,NaN
1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.689500,2.3220,0.500000,0.0,0.55,1.12
2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.238333,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2.353200,2.0805,1.000000,0.0,0.75,1.00
4,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.155000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16989,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.286143,NaN,NaN,0.0,0.45,0.54
16990,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.325167,0.6460,0.500000,1.0,0.61,0.72
16991,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.496750,NaN,NaN,1.0,0.49,0.73
16992,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.412000,1.1450,0.833333,0.0,0.83,0.50
16993,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,2.272500,2.6060,0.400000,0.0,0.62,0.82